html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    style.
      .btn {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      .cta1 {
      width: 32%;
      }
      @media screen and (max-width: 414px) {
      .cta1 {
      width: 50%;
      }
      }
      .btn a:hover {
      background-color: #3a821d !important;
      border-color: #3a821d !important;
      }
      .ahover a:hover{
      color:green !important;
      }
      .textcta a:hover {
      color: #4760a1 !important;
      }
      @media screen and (max-width:699px) {
      p {
      margin: 0px!important;
      font-size: 12px;
      }
      h6 {
      margin: 0px!important;
      }
      }
      @media screen and (max-width:699px) {
      .mobileContent {
      display: block !important;
      max-height: none !important;
      }
      .desktopContent {
      display: none !important;
      }
      .mobile_pad_reset {
      padding-bottom: 0px!important;
      }
      .ch2_headline {
      font-size: 24px!important;
      }
      p {
      margin: 0px;
      }
      h6 {
      margin: 0px;
      }
      }
      .mobileContent {
      display: none !important;
      }
      @media screen and (max-width:699px) {
      .mobileContent {
      display: block !important;
      }
      .mobileContent * {
      max-width: 55% !important;
      max-height: none!important;
      width: 100% !important;
      height: auto !important;
      }
      .desktopContent {
      display: none !important;
      }
      }
      @media screen and (max-width:414px) {
      .payment_cta,
      .payment_cta a {
      font-size: 13px !important;
      }
      .mobileCenter {
      margin: 0 auto !important;
      }
      .mobileCenter * {
      text-align: center!important;
      }
      .mobileCenter img {
      margin: 0 auto !important;
      text-align: center !important
      }
      .mobileCenter .btn img {
      margin-left: 16px !important;
      }
      .ch3_e2_headline {
      font-size: 24px!important;
      }
      }
      @media screen and (max-width:340px) {
      .mobileHide {
      display: none !important;
      }
      .bg_hero {
      background-position: 47% !important;
      }
      .ch2_headline {
      font-size: 22px!important;
      line-height: 30px !important;
      }
      }
      .boxshadow {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    style(type='text/css').
      p {
      margin: 0px;
      }
      h6 {
      margin: 0px;
      font-weight: 100;
      }
      @media screen and (max-width:699px) {
      .t1of12,
      .t2of12,
      .t3of12,
      .t4of12,
      .t5of12,
      .t6of12,
      .t7of12,
      .t8of12,
      .t9of12,
      .t10of12,
      .t11of12,
      .t12of12,
      .full {
      width: 100%!important;
      max-width: none!important
      }
      a[x-apple-data-detectors] {
      color: inherit!important;
      text-decoration: none!important;
      font-size: inherit!important;
      font-family: inherit!important;
      font-weight: inherit!important;
      line-height: inherit!important
      }
      }
      @media screen and (-webkit-min-device-pixel-ratio:1) {
      .arrow {
      vertical-align: 6%;
      line-height: 20px!important
      }
      }
      @media screen {
      @font-face {
      font-family: 'ClanPro-Thin';
      src: url('https://api.stakeplayer.com/images/ClanPro-Thin.woff') format('woff'), url('https://api.stakeplayer.com/images/ClanPro-Thin.ttf') format('truetype');
      font-weight: normal!important;
      font-style: normal!important;
      mso-font-alt: 'Arial'
      }
      @font-face {
      font-family: 'ClanPro-Book';
      src: url('https://api.stakeplayer.com/images/ClanPro-Book.woff') format('woff'), url('https://api.stakeplayer.com/images/ClanPro-Book.ttf') format('truetype');
      font-weight: normal!important;
      font-style: normal!important;
      mso-font-alt: 'Arial'
      }
      @font-face {
      font-family: 'ClanPro-News';
      src: url('https://api.stakeplayer.com/images/ClanPro-News.woff') format('woff'), url('https://api.stakeplayer.com/images/ClanPro-News.ttf') format('truetype');
      font-weight: normal!important;
      font-style: normal!important;
      mso-font-alt: 'Arial'
      }
      @font-face {
      font-family: 'ClanPro-Medium';
      src: url('https://api.stakeplayer.com/images/ClanPro-Medium.woff') format('woff'), url('https://api.stakeplayer.com/images/ClanPro-Medium.ttf') format('truetype');
      font-weight: normal!important;
      font-style: normal!important;
      mso-font-alt: 'Arial'
      }
      }
  body(dir='ltr', style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#d6d6d5;margin:0;min-width:100%;padding:0;width:100%')
    span(data-blockuuid='709e0d3b-b91b-4e24-9a7d-da9ad5e1423b', style='display: none; max-height: 0px; font-size: 0px; overflow: hidden; mso-hide: all;')
      | We’re introducing new ways to get around.
    style.
      .yahooHide {
      display: none!important
      }
    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='background-color:#d6d6d5;border:0;border-collapse:collapse;border-spacing:0;mso-table-lspace:0;mso-table-rspace:0', bgcolor='#d6d6d5')
      tbody
        tr
          td(align='center', style='display: block;')
            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border:0;border-collapse:collapse;border-spacing:0;max-width:700px;mso-table-lspace:0;mso-table-rspace:0')
              tbody
                tr
                  td(style='background-color:#ffffff')
                    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;', data-blockuuid='1450f09c-d00a-4794-8b5c-fa4293734d13')
                      tbody
                        tr
                          td.outsidegutter(align='left', style='border-bottom: 1px solid #d6d6d5; padding: 0px 14px 0px 14px; direction: ltr; text-align: left;')
                            table(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                              tbody
                                tr
                                  td(style='direction: ltr; text-align: left;')
                                    table.t12of12(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 700px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                      tbody
                                        tr
                                          td(style='padding-left: 12px; padding-right: 12px; direction: ltr; text-align: left;')
                                            table(border='0', cellpadding='0', cellspacing='0', style='border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                              tbody
                                                tr
                                                  td(style='direction:ltr;margin:0;padding:0;width:12%', align='center', valign='middle')
                                                    table(border='0', cellpadding='0', cellspacing='0', style='border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                      tbody
                                                        tr
                                                          td(style='direction: ltr; text-align: left;')
                                                            a(href='https://www.stakeplayer.com', target='_blank')
                                                              img.bitTop(src='https://api.stakeplayer.com/images/Stakelogo.png', width='75', height='', border='0', alt='Stakeplayer', style='-ms-interpolation-mode: bicubic;clear: both;display: block;height: 20%;max-height: 76px;min-width: 56px;outline: 0;text-decoration: none;width: 271%;margin-top: 9px;margin-bottom: 9px;')
                                                  td(style='padding:0;margin:0;direction:ltr;text-align:left;width:88%', align='center')
                                                    table.basetable(cellpadding='0', align='left', cellspacing='0', border='0', style='border: 0; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                      tbody
                                                        tr
                                                          td(style='text-align: center; direction: ltr;', width='48')
                                                          td.p1(style="color: rgb(113, 113, 114); direction: ltr; font-family: 'ClanPro-Book', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 28px; padding: 3px 0px 0px 0px; vertical-align: middle; text-align: left;", valign='middle', align='right')
                    table.tron(width='100%', border='0', cellpadding='0', cellspacing='0', style='border:0;border-collapse:collapse;border-spacing:0;margin: auto;max-width: 700px;mso-table-lspace:0;mso-table-rspace:0;')
                      tbody
                        tr
                          td(align='center')
                            table.basetable(width='100%', border='0', cellpadding='0', cellspacing='0', style='background-color:#fff;border:0;border-collapse:collapse;border-spacing:0;margin:auto;mso-table-lspace:0;mso-table-rspace:0', bgcolor='#ffffff')
                              tbody
                                tr
                                  td(align='center')
                                    table.basetable(width='100%', border='0', cellpadding='0', cellspacing='0', style='border:0;border-collapse:collapse;border-spacing:0;mso-table-lspace:0;mso-table-rspace:0')
                                      tbody
                                        tr
                                          td(align='center', style='background-color:#ffffff')
                                            table.basetable(border='0', cellpadding='0', cellspacing='0', width='100%', style='border:0;border-collapse:collapse;border-spacing:0;mso-table-lspace:0;mso-table-rspace:0')
                                              tbody
                                                tr
                                                  td
                                                    table.basetable(width='100%', border='0', cellpadding='0', cellspacing='0', style='border:0;border-collapse:collapse;border-spacing:0;mso-table-lspace:0;mso-table-rspace:0')
                                                      tbody
                                                        tr
                                                          td
                                                            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='\
                                                            background-color: #ffffff;\
                                                            height: 274px;\
                                                            background-position: center;\
                                                            background-repeat: no-repeat;\
                                                            background-size: cover;\
                                                            position: relative;\
                                                            background-image: url(https://api.stakeplayer.com/images/imgbg.jpg);\
                                                            ')
                                                              tbody
                                                                tr
                                                                  td
                                                                    // direction
                                                                    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;mso-table-lspace: 0;mso-table-rspace: 0;width: 100%;margin-bottom: -20%;', data-blockuuid='2c4ed2f7-4a9c-443c-973d-f729dc8f3e66')
                                                                      tbody
                                                                        tr
                                                                          td.mobileCenter(style='direction: ltr; text-align: left;')
                                                                            table(border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;mso-table-lspace: 0;mso-table-rspace: 0;width: 100%;')
                                                                              tbody
                                                                                tr
                                                                                  td(background='', bgcolor='', valign='top', style='background-position: bottom right;direction: ltr;text-align: left;height: 247%;')
                                                                                    div
                                                                                      table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;mso-table-lspace: 0;mso-table-rspace: 0;width: 100%;')
                                                                                        tbody
                                                                                          tr
                                                                                            td(align='left', style='direction: ltr;text-align: left;')
                                                                                              table.t1of12.layout(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 56px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                                tbody
                                                                                                  tr
                                                                                                    td(style='font-size: 1px; height: 1px; line-height: 1px; padding-left: 0px; padding-right: 0px; direction: ltr; text-align: left;')
                                                                                                      table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                                        tbody
                                                                                                          tr
                                                                                                            td(style='font-size: 1px; line-height: 1px; height: 1px; direction: ltr; text-align: left;')  
                                                                                              table.t11of12(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 616px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                                tbody
                                                                                                  tr
                                                                                                    td(width='26', style='padding-left: 0px; padding-right: 0px; direction: ltr; text-align: left;')  
                                                                                                    td(style='padding: 60px 0px 60px 0px;text-align: left;direction: ltr;')
                                                                                                      table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                                        tbody
                                                                                                          tr
                                                                                                            td.p1.black.ch2_headline(style="color: rgb(255, 255, 255);font-family: 'roboto','HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;font-size: 32px;line-height: 40px;padding-bottom: 20px;direction: ltr;text-align: left;")
                                                                                                              strong
                                                                                                                | WELCOME TO STAKEPLAYER!
                                                                                                          tr
                                                                                                            td(style='direction: ltr; text-align: left;')
                                                                                                              table.t5of12(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 555px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                                                tbody
                                                                                                                  tr
                                                                                                                    td(style='padding-left: 0px; padding-right: 0px; direction: ltr; text-align: left;')
                                                                                                                      table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                                                        tbody
                                                                                                                          tr
                                                                                                                            td.p1.black(style="color: rgb(255, 255, 255);font-family: 'ClanPro-Book', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 28px;direction: ltr;text-align: left;")
                                                                                                          tr
                                                                                                            td(style='direction: ltr; text-align: left; padding-top: 28px;')
                                                                                                              .btn.cta.cta1(lang='x-btn', style="font-family: 'ClanPro-Medium', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; text-transform: uppercase;")
                                                                                                    td(width='26', style='padding-left: 0px; padding-right: 0px; direction: ltr; text-align: left;')  
                                                                    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;', data-blockuuid='2c8c007b-56b2-4c2a-ad7b-e221c9ca0e50')
                                                                      tbody
                                                                        tr
                                                                          td(height='30', style='height: 30px; font-size: 0; line-height: 1px; direction: ltr; text-align: left;')  
                                                                    table(data-blockuuid='5550b056-6c32-47ba-b2d0-5888422dac3a', width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                      tbody
                                                                        tr
                                                                          td.outsidegutter(align='left', style='padding: 14px 14px 0 14px; text-align: left')
                                                                            table(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                              tbody
                                                                                tr
                                                                                  td(style='text-align: left')
                                                                                    table.t1of12.layout(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 56px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='font-size: 1px; height: 1px; line-height: 1px; padding-left: 0px; padding-right: 0px; text-align: left')
                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                              tbody
                                                                                                tr
                                                                                                  td  
                                                                                    table.t10of12(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 560px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='padding-left: 12px; padding-right: 12px; text-align: left')
                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                              tbody
                                                                                                tr
                                                                                                  td.p1.mobileCenter(align='left', style="color: #000000; font-family: 'ClanPro-Book', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 26px; padding-bottom:18px; text-align: left")
                                                                    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;mso-table-lspace: 0;mso-table-rspace: 0;width: 100%;margin-bottom: -19%;', data-blockuuid='14e1477a-5e4f-414d-a45c-f119c7c526b5')
                                                                      tbody
                                                                        tr
                                                                          td.outsidegutter.mobileCenter(align='left', style='padding: 0px 15px 0px 15px;direction: ltr;text-align: left;')
                                                                            table.boxshadow(border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;mso-table-lspace: 0;mso-table-rspace: 0;width: 100%;position: relative;background-color: #ecebeb;', bgcolor='F9F9F9')
                                                                              tbody
                                                                                tr
                                                                                  td(valign='top', style='direction: ltr;text-align: left;padding: 0px 26px 0px 26px;')
                                                                                    table.t1of12.layout(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 56px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='font-size: 1px; height: 1px; line-height: 1px; padding-left: 0px; padding-right: 0px; direction: ltr; text-align: left;')
                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                              tbody
                                                                                                tr
                                                                                                  td(style='font-size: 2px; line-height: 2px; height: 2px; direction: ltr; text-align: left;')  
                                                                                    table.t11of12.layout(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; direction: ltr; max-width: 592px; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='font-size: 1px;height: 1px;line-height: 1px;direction: ltr;text-align: left;padding: 0px 0px 33px 2px;')
                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                              tbody
                                                                                                tr
                                                                                                  td(style='font-size: 0px; text-align: left; direction: ltr;', valign='top')
                                                                                                    table.t5of12(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; direction: ltr; display: inline-block; max-width: 280px; mso-table-lspace: 0; mso-table-rspace: 0; vertical-align: top; width: 100%;')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='padding-left: 12px; padding-right: 12px; padding-top: 20px; direction: ltr; text-align: left;')
                                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                                              tbody
                                                                                                                tr
                                                                                                                  td(align='left', style='direction: ltr; text-align: left;')
                                                                                                                    .mobileContent(style='display: none; mso-hide: all;')
                                                                                                                      img.mobileCenter(src='https://api.stakeplayer.com/images/stakeplayerlogo.png', width='360', height='', border='0', style='-ms-interpolation-mode: bicubic; clear: both; display: block; height: auto; max-height: 312px; max-width: 360px; outline: none; text-decoration: none; width: 100%;')
                                                                                                                    .desktopContent
                                                                                                                      img.mobileCenter(src='https://api.stakeplayer.com/images/stakeplayerlogo.png\
                                                                                                                      ', width='256', height='', border='0', style='-ms-interpolation-mode: bicubic;clear: both;display: block;height: auto;max-height: 315px;max-width: 210px;outline: none;text-decoration: none;width: 100%;')
                                                                                                    table.t5of12(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; direction: ltr; display: inline-block; max-width: 280px; mso-table-lspace: 0; mso-table-rspace: 0; vertical-align: top; width: 100%;')
                                                                                                      tbody
                                                                                                        tr
                                                                                                          td(style='padding: 16px 12px 40px 20px; direction: ltr; text-align: left;')
                                                                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed; width: 100%;')
                                                                                                              tbody
                                                                                                                tr
                                                                                                                  td.h2(style="color: rgb(0, 0, 0); font-family: 'ClanPro-News', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 32px; direction: ltr; text-align: left; padding-bottom:8px;")
                                                                                                                    | Hi,
                                                                                                                tr
                                                                                                                  td.p1.black(style="color: #154050;font-weight: bold;font-size: 18px;font-family:'roboto','HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 28px;padding-bottom: 20px;direction: ltr;text-align: left;")
                                                                                                                    | Your Client ID is {{Client_id}}
                                                                                                                tr
                                                                                                                  td(style='direction: ltr; text-align: left;')
                                                                                                                    .btn.cta(lang='x-btn', style="font-family: 'ClanPro-Medium', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; text-transform: uppercase;")
                                                                                                                      a(href='https://www.stakeplayer.com/#/login', style='background-color: #154050;border-color: #154050;border-radius: 0px;border-style: solid;border-width: 13px 16px;color: #ffffff;display: inline-block;letter-spacing: 1px;max-width: 300px;min-width: 150px;text-align: center;text-decoration: none;text-transform: uppercase;transition: all 0.2s ease-in;', target='_blank')
                                                                                                                        span(style='float:left;text-align:left;') Login to your Stakeplayer Account
                            // END LIST
                            // END BODY
                    table.tron(data-blockuuid='4c960c23-499b-4dc6-9dc8-46eda1aca345', width='100%', border='0', cellpadding='0', cellspacing='0', style='border:0;border-collapse:collapse;border-spacing:0;margin:auto;max-width:700px;mso-table-lspace:0;mso-table-rspace:0; background-color: #ffffff;')
                      tbody
                        // END BODY
                        tr
                          td(style='display: block; ')
                            // footer
                            // padding 30px
                            table(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%; background-color:#ffffff;', width='100%')
                              tbody
                                tr
                                  td.30px.lhreset(background='https://api.stakeplayer.com/images/sportvector.jpg', style='font-size: 0px;background-size: 95% 197%;background-repeat: no-repeat;line-height: 1px;padding-bottom: 42%;background-color:#ffffff;')  
                            // close padding 30px
                            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;', bgcolor='#ffffff')
                              tbody
                                tr
                                  td(align='center', style='background-color: rgb(0, 0, 0); text-align: left;')
                                    table(border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                      tbody
                                        tr
                                          td(align='center', style='text-align: left;')
                                            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; max-width: 700px; mso-table-lspace: 0; mso-table-rspace: 0;')
                                              tbody
                                                tr
                                                  td(style='padding: 0px 26px; text-align: left;')
                                                    table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;max-width: 648px;mso-table-lspace: 0;mso-table-rspace: 0;table-layout:fixed;')
                                                      tbody
                                                        tr
                                                          td(style='font-size: 0px; line-height: 0px; padding-top: 20px; text-align: left;')
                                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='')
                                                              tbody
                                                                tr
                                                                  td(style='font-family:Helvetica, Arial, sans-serif; font-size:12px; line-height: 14px;')
                                                                    p(style='color:#858D98; text-align: center; display: block; width: 100%;')
                                                                      | If you did not create an account using this address, please let us know at support@stakeplayer.com. We will immediately de-activate this account and will not send you any further emails at this address.
                                                        tr
                                                          td(style='padding-left: 0px;padding-right: 0px;direction: ltr;text-align: left;')
                                                            table(style='height: 30px; margin: 0 auto;', width='60%')
                                                              tbody
                                                                tr.ahover
                                                                  td(style='text-align: center;border-right: 1px solid #cacaca;font-size: 14px;padding-right: 5px;')
                                                                    a(href='https://www.stakeplayer.com/#/termsAndCondtions', target='_blank', style='color: #808080; text-decoration: none;') User Agreement
                                                                  td(style='text-align: center; border-right: 1px solid #cacaca; font-size: 14px; padding-left: 5px; padding-right: 5px;')
                                                                    a(href='https://www.stakeplayer.com/#/privacy', target='_blank', style='color: #808080; text-decoration: none;') Privacy Policy
                                                                  td(style='text-align: center;padding-left: 5px;font-size: 14px;border-right: 1px solid #cacaca;')
                                                                    a(href='https://stakeplayer.com/#/contact', target='_blank', style='color: #808080; text-decoration: none;') Help Center
                                                                  td(style='text-align: center; border-right: 1px solid #cacaca; font-size: 14px; padding-left: 5px; padding-right: 5px;')
                                                                    a(href='https://stakeplayer.com/', target='_blank', style='color: #808080; text-decoration: none;') Visit Us
                                                        tr
                                                          td(style='/* padding: 40px 0px 0px 0px; */text-align: left;')
                                                            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                              // full break start
                                                              tbody
                                                                tr
                                                                  td(height='1', style='font-size: 0px; line-height: 0px; background: rgb(51, 51, 51);text-align: left;')  
                                                                // full break end
                                                        tr(style='\
                                                        ')
                                                          td(style='text-align: left;')
                                                            table(width='100%', border='0', cellpadding='0', cellspacing='0', style='border: none;border-collapse: collapse;border-spacing: 0;margin-bottom: 3px;/* margin-top: -12px; */')
                                                              tbody
                                                                tr
                                                                  td(align='left', style='text-align: left;display: inline-flex;')
                                                                    table.basetable(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none;border-collapse: collapse;border-spacing: 0;max-width: 338px;mso-table-lspace: 0;mso-table-rspace: 0;table-layout: fixed;')
                                                                      tbody(style='')
                                                                        tr
                                                                          td(style='padding-top: 19px;text-align: left;')
                                                                            table.basetable(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0; table-layout: fixed;')
                                                                              tbody
                                                                                tr.ahover
                                                                                  td(align='left', style='text-align: left;')
                                                                                    a(href='https://wwww.stakeplayer.com', target='_blank', width='90', height='20', style='-ms-interpolation-mode: bicubic;border: none;clear: both;color: white;display: block;max-width: 100%;outline: none;text-decoration: none;width: auto;font-size: 23px;padding-bottom: 2px;', alt='') Stakeplayer
                                                                                tr
                                                                                  td(style='color: white;font-size: 13px;') © 2018 Stakeplayer. All rights reserved.
                                                                    table.basetable(border='0', cellpadding='0', cellspacing='0', align='left', style='border: none;border-collapse: collapse;border-spacing: 0;max-width: 313px;mso-table-lspace: 0;mso-table-rspace: 0;table-layout: fixed;margin-left: 157px;')
                                                                      tbody
                                                                        tr
                                                                          td(style='padding-top: 40px; text-align: left;')
                                                                            table.basetable(border='0', cellpadding='0', cellspacing='0', width='100%', align='left', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                                              tbody
                                                                                tr
                                                                                  td(style='text-align: left; padding-right:15px;')
                                                                                    table(width='25', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='text-align: left;')
                                                                                            a(href='https://www.facebook.com/StakePlayer-646431579091943/?modal=admin_todo_tour', target='_blank')
                                                                                              img(src='https://api.stakeplayer.com/images/footer_social_facebook50x40.png', style='-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; height: 20px; max-width: 100%; outline: none; text-decoration: none; width: 25px;', alt='', width='25', height='20')
                                                                                  td(style='text-align: left; padding-right:15px; padding-left:15px;')
                                                                                    table(width='25', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='text-align: left;')
                                                                                            a(href='https://twitter.com/StakePlayer', target='_blank')
                                                                                              img(src='https://api.stakeplayer.com/images/footer_social_twitter50x40.png', style='-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; height: 20px; max-width: 100%; outline: none; text-decoration: none; width: 25px;', width='25', height='20', alt='')
                                                                                  td(style='text-align: left; padding-right:15px; padding-left:15px;')
                                                                                    table(width='25', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='text-align: left;')
                                                                                            a(href='https://www.instagram.com/stakeplayer/', target='_blank')
                                                                                              img(src='https://api.stakeplayer.com/images/footer_social_instagram50x40.png', style='-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; height: 20px; max-width: 100%; outline: none; text-decoration: none; width: 25px;', width='25', height='20', alt='')
                                                                                  td(style='text-align: left;padding-right:15px;padding-left:15px;display: none;')
                                                                                    table(width='25', border='0', cellpadding='0', cellspacing='0', style='border: none; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0; mso-table-rspace: 0;')
                                                                                      tbody
                                                                                        tr
                                                                                          td(style='text-align: left;')
                                                                                            a(href='https://www.linkedin.com/company/', target='_blank')
                                                                                              img(src='https://api.stakeplayer.com/images/footer_social_linkedin50x40.png', style='-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; height: 20px; max-width: 100%; outline: none; text-decoration: none; width: 25px;', width='25', height='20', alt='')
